.signUpPage{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & form{
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}