@use '../styles/mixins' as *;
.verifiedPage{
    @include container();
    justify-content: center;
    & h1{
        @include text(#F8FAFC, 38px, 700);
        margin-bottom: 40px;
        & span{
            color: #5c6bc0
        }
    }
}